<%- include('../partials/head') %>

    <h1>Edit Routine Page</h1>
    <form action="/routines/<%=routine._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= routine.name %>">
    <br>
    <label for="description">Description:</label>
    <input type="text" name="description" value="<%= routine.description %>">
    <br>
    <label for="currentExercises">Current Exercises:</label>
    <% Object.keys(routine.exercises).forEach(function(prop) { %>
        <p><%- routine.exercises[prop] %></p>
    <% }); %>
    <h4>Select Exercises:</h4>
    <select multiple id="select" name="exercises">
            <% for(let i=0; i < exercises.length; i++) { %>
             <option value="<%= exercises[i].id %>"><%= exercises[i].name %></option>
            <% } %>
    </select>
    <br>
    <input type="submit" value="Update Routine">
</form>
</a>
</a>


<%- include('../partials/footer') %>
