<%- include('../partials/head') %>

    <h1>View Routines Page</h1>
    <form action="/routines/<%=routines._id%>/new">
        <input type="submit" value="Make a new routine">
    </form>
    <form action="/exercises">
        <input type="submit" value="View exercises">
    </form>
    <% routines.forEach((r)=> { %>
        <h4><a href="/routines/<%=r._id%>"><%=r.name%></a></h4>
        <p><%= r.description %></p>
        <p><%=r.exercises[0]%></p>


        <% if (user?._id.equals(r.user)) { %>
        <form action="/routines/<%=r._id%>/edit" method="PUT">
            <input type="submit" value="Edit: <%=r.name%>">
        </form>
        <% } %>
        <!-- below is the user data I chose to add for possible display-->
        <p>below are my test tags for ouath</p>
        <p><%=r.user%></p>
        <p><%=r.userName%></p>
        <p><%=r.userAvatar%></p>
    <% }) %>

<%- include('../partials/footer') %>

