<%- include('../partials/head') %>

    <h1>Your Routines</h1>

    <% routines.forEach((r)=> { %>
        <h4 href="/routines/<%=r._id%>/edit"><%= r.name %></h4>
        <p><%= r.description %></p>
        <p><%=r.exercises[0]%></p>
        <form action="/routines/<%=r._id%>/edit" method="PUT">
            <input type="submit" value="Edit: <%=r.name%>">
        </form>
    <% }) %>
<%- include('../partials/footer') %>

