<%- include('../partials/head') %>

    <h1>Your Routines</h1>

    <% routines.forEach((r)=> { %>
        <h4> <a href="/routines/<%=r._id%>"><%= r.name %></a></h4>
        <p><%= r.description %></p>
        <% Object.keys(r.exercises).forEach(function(prop) { %>
            <p><a href="/exercises/<%=r.exercises[prop]._id%>"><%- r.exercises[prop].name %></a></p>
        <% }); %>


        <% if (user?._id.equals(r.user)) { %>
        <form action="/routines/<%=r._id%>/edit" method="PUT">
            <input type="submit" value="Edit: <%=r.name%>">
        </form>
        <% } %>
        <!-- below is the user data I chose to add for possible display-->
        <p>Created by: <%=r.userName%></p>
    <% }) %>
<%- include('../partials/footer') %>

