<%- include('../partials/head') %>


    <!-- <form action="/routines" method="POST">
        <label for="name">Name:</label><input type="text" name="name"><br>
        <label for="description">Description:</label><input type="text" name="description"><br>
        <h4>Select Exercises:</h4>
        <select multiple id="select" name="exercises">
          <% for(var i=0; i < exercises.length; i++) { %>
           <option value="<%= exercises[i].id %>"><%= exercises[i].name %></option>
          <% } %>
        </select>
        <br>
        <input type="submit" value="Create Routine">
    </form> -->


    <h1>Create a Routine</h1>

    
   
    <main>
      <div class="py-4 text-center">
      </div>
        <div class="col-md-6" id="create-routine">
          <form action="/routines" method="POST">
            <div class="col-12">
              <label for= "name" class="form-label">Routine Name</label>
              <input type="text" name="name" class="form-control">
            </div>
            <br>
            <div class="col-12">
              <label for= "description"class="form-label">Description</label>
              <input type="text" name="description"class="form-control">
            </div>
            <br>
            <label for="exercise">Exercise:</label>
            <br>
            <select id="select" name="exercises">
              <% for(var i=0; i < exercises.length; i++) { %>
               <option value="<%= exercises[i].id %>"><%= exercises[i].name %></option>
              <% } %>
            </select>
            <br>
            <br>            <div class="day-checkbox">
            <label for= "dayOfWeek" class="form-label">Weekly Schedule</label>
            <br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Monday</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Tuesday</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Wednesday</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Thursday</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Friday</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Saturday</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox">
              <label for="dayOfWeek" class="form-check-label">Sunday</label>
            </div>
            <br>
          <br>
            <div class="row g-5">
              <div class="col-sm-6">
                <label for="reps" class="form-label">Reps</label>
                <input type="number" name="reps" class="form-control" required>
              </div>
          
              <div class="col-sm-6">
                <label for="sets" class="form-label">Sets</label>
                <input type="number" name="sets" class="form-control" required>
              </div>
  
    
            <button class="w-100 btn btn-dark btn-lg" type="submit">Create Routine</button>
          </form>
        </div>
    </main>

<%- include('../partials/footer') %>
