

<%- include('../partials/head') %>

    <h1>Your Routines</h1>
    <br>
    <h3>Name: <%= routine.name %></h3>
   <p><%= routine.description %></p>
   <% Object.keys(routine.exercises).forEach(function(prop) { %>
    <p><a href="/exercises/<%=routine.exercises[prop]._id%>"><%- routine.exercises[prop].name %></a></p>
<% }); %>
   <p>Created by: <%= routine.userName %></p>

<%- include('../partials/footer') %> 