<%- include('../partials/head') %>

    <h1>Show Routine Page</h1>
    <p>Name: <%=routine.name%></p>
    <p>Description: <%=routine.description%></p>
    <h4>Exercises:</h5>
    <p><%=routine.exercises[0]%></p>

    <form action="/routines/<%=routine._id%>/edit" method="PUT">
        <input type="submit" value="Edit: <%=routine.name%>">
    </form>

    <form action="/routines/<%=routine._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete: <%=routine.name%>">
    </form>

<%- include('../partials/footer') %>
