<%- include('../partials/head') %>

    <h1>View Exercises Page</h1>
    <section class="container">
    <% exercises.forEach((e)=> { %>
        <h4 href="/exercises/<%=e._id%>"><%=e.name%></h4>
        <p><%= e.description %></p>
        <p><%= e.dayOfWeek %></p>
    <% }) %>
</section>
<%- include('../partials/footer') %>


