<%- include('../partials/head') %>

    <h1>Show Exercise Page</h1>
    <p>Name: <%= exercise.name %></p>
    <p>Description: <%= exercise.description %></p>
    <p>Day of Week: <%= exercise.dayOfWeek %></p>
    <p>Reps: <%= exercise.reps %></p>
    <p>Sets: <%= exercise.sets %></p>
    <p>Duration: <%= exercise.duration %></p>

<%- include('../partials/footer') %>